<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


    <context:component-scan base-package="com.zhang.ssm.Controller"/>


    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">-->
    <!--<property name="messageConverters">-->
    <!--<list>-->
    <!--<ref bean="mappingJacksonHttpMessageConverter"/>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

<mvc:annotation-driven> </mvc:annotation-driven>
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--<property name="prefix" value="/WEB-INF/jsp/"/>-->
    <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/view/"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>

    <bean id="htmlViewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="suffix" value=".html"/>
        <property name="order" value="0"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="requestContextAttribute" value="requestContext"/>
    </bean>


    <!--<bean id="velocityConfig"-->
    <!--class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">-->
    <!--<property name="resourceLoaderPath" value="/WEB-INF/view"/>-->
    <!--<property name="configLocation" value="classpath:velocity.properties"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;配置试图解析器&ndash;&gt;-->
    <!--<bean id="viewResolver"-->
    <!--class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">-->
    <!--<property name="cache" value="false"/>-->
    <!--<property name="prefix" value=""/>-->
    <!--<property name="suffix" value=".html"/>-->
    <!--<property name="contentType" value="text/html;charset=utf-8"/>-->
    <!--&lt;!&ndash;<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/>&ndash;&gt;-->
    <!--<property name="exposeSpringMacroHelpers" value="true"/>-->
    <!--<property name="exposeRequestAttributes" value="true"/>-->
    <!--<property name="exposeSessionAttributes" value="true"/>-->
    <!--<property name="allowSessionOverride" value="true"/>-->
    <!--<property name="allowRequestOverride" value="true"/>-->
    <!--</bean>-->


    <mvc:resources mapping="/js/**" location="WEB-INF/js/"/>
    <mvc:resources mapping="/css/**" location="WEB-INF/css/"/>
    <mvc:resources mapping="/images/**" location="WEB-INF/images/"/>


    <mvc:interceptors>
        <mvc:interceptor>
            <!-- /**的意思是所有文件夹及里面的子文件夹 /*是所有文件夹，不含子文件夹 /是web项目的根目录 -->
            <mvc:mapping path="/**"/>
            <!-- 需排除拦截的地址 -->
            <!-- <mvc:exclude-mapping path="/userController/login"/> -->
            <bean id="commonInterceptor0" class="com.zhang.ssm.interceptor.LoginRequiredInterceptor"/>

        </mvc:interceptor>

        <mvc:interceptor>
            <!-- /**的意思是所有文件夹及里面的子文件夹 /*是所有文件夹，不含子文件夹 /是web项目的根目录 -->
            <mvc:mapping path="/**"/>
            <!-- 需排除拦截的地址 -->
            <!-- <mvc:exclude-mapping path="/userController/login"/> -->
            <bean id="commonInterceptor0" class="com.zhang.ssm.interceptor.PassportInterceptor"/>

        </mvc:interceptor>


        <!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->
    </mvc:interceptors>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <property name="defaultEncoding" value="UTF-8"/>

        <property name="maxUploadSize" value="32505856"/>

        <property name="maxInMemorySize" value="4096"/>
    </bean>
</beans>