<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.ssm.mapper.AbnormalInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhang.ssm.pojo.AbnormalInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="abnormal_code" property="abnormalCode" jdbcType="INTEGER" />
    <result column="abnormal_img_url" property="abnormalImgUrl" jdbcType="VARCHAR" />
    <result column="processed" property="processed" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, line_name, abnormal_code, abnormal_img_url, processed, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhang.ssm.pojo.AbnormalInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from abnormal_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from abnormal_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from abnormal_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhang.ssm.pojo.AbnormalInfoExample" >
    delete from abnormal_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhang.ssm.pojo.AbnormalInfo" >
    insert into abnormal_info (id, line_name, abnormal_code, 
      abnormal_img_url, processed, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{lineName,jdbcType=VARCHAR}, #{abnormalCode,jdbcType=INTEGER}, 
      #{abnormalImgUrl,jdbcType=VARCHAR}, #{processed,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhang.ssm.pojo.AbnormalInfo" >
    insert into abnormal_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lineName != null" >
        line_name,
      </if>
      <if test="abnormalCode != null" >
        abnormal_code,
      </if>
      <if test="abnormalImgUrl != null" >
        abnormal_img_url,
      </if>
      <if test="processed != null" >
        processed,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lineName != null" >
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="abnormalCode != null" >
        #{abnormalCode,jdbcType=INTEGER},
      </if>
      <if test="abnormalImgUrl != null" >
        #{abnormalImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="processed != null" >
        #{processed,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhang.ssm.pojo.AbnormalInfoExample" resultType="java.lang.Integer" >
    select count(*) from abnormal_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update abnormal_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lineName != null" >
        line_name = #{record.lineName,jdbcType=VARCHAR},
      </if>
      <if test="record.abnormalCode != null" >
        abnormal_code = #{record.abnormalCode,jdbcType=INTEGER},
      </if>
      <if test="record.abnormalImgUrl != null" >
        abnormal_img_url = #{record.abnormalImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.processed != null" >
        processed = #{record.processed,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update abnormal_info
    set id = #{record.id,jdbcType=INTEGER},
      line_name = #{record.lineName,jdbcType=VARCHAR},
      abnormal_code = #{record.abnormalCode,jdbcType=INTEGER},
      abnormal_img_url = #{record.abnormalImgUrl,jdbcType=VARCHAR},
      processed = #{record.processed,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhang.ssm.pojo.AbnormalInfo" >
    update abnormal_info
    <set >
      <if test="lineName != null" >
        line_name = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="abnormalCode != null" >
        abnormal_code = #{abnormalCode,jdbcType=INTEGER},
      </if>
      <if test="abnormalImgUrl != null" >
        abnormal_img_url = #{abnormalImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="processed != null" >
        processed = #{processed,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhang.ssm.pojo.AbnormalInfo" >
    update abnormal_info
    set line_name = #{lineName,jdbcType=VARCHAR},
      abnormal_code = #{abnormalCode,jdbcType=INTEGER},
      abnormal_img_url = #{abnormalImgUrl,jdbcType=VARCHAR},
      processed = #{processed,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>