<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.ssm.mapper.LineInfoMapper">
    <resultMap id="BaseResultMap" type="com.zhang.ssm.pojo.LineInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="line_name" property="lineName" jdbcType="VARCHAR"/>
        <result column="stream_url" property="streamUrl" jdbcType="VARCHAR"/>
        <result column="src_url" property="srcUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, line_name, stream_url, src_url
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhang.ssm.pojo.LineInfoExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from line_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from line_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM line_info
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByName" parameterType="java.lang.String">
        DELETE FROM line_info
        WHERE line_name = #{lineName,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.zhang.ssm.pojo.LineInfoExample">
        delete from line_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.zhang.ssm.pojo.LineInfo">
        INSERT INTO line_info (id, line_name, stream_url,
                               src_url)
        VALUES (#{id,jdbcType=INTEGER}, #{lineName,jdbcType=VARCHAR}, #{streamUrl,jdbcType=VARCHAR},
                #{srcUrl,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zhang.ssm.pojo.LineInfo">
        insert into line_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="lineName != null">
                line_name,
            </if>
            <if test="streamUrl != null">
                stream_url,
            </if>
            <if test="srcUrl != null">
                src_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="lineName != null">
                #{lineName,jdbcType=VARCHAR},
            </if>
            <if test="streamUrl != null">
                #{streamUrl,jdbcType=VARCHAR},
            </if>
            <if test="srcUrl != null">
                #{srcUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zhang.ssm.pojo.LineInfoExample" resultType="java.lang.Integer">
        select count(*) from line_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update line_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.lineName != null">
                line_name = #{record.lineName,jdbcType=VARCHAR},
            </if>
            <if test="record.streamUrl != null">
                stream_url = #{record.streamUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.srcUrl != null">
                src_url = #{record.srcUrl,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update line_info
        set id = #{record.id,jdbcType=INTEGER},
        line_name = #{record.lineName,jdbcType=VARCHAR},
        stream_url = #{record.streamUrl,jdbcType=VARCHAR},
        src_url = #{record.srcUrl,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhang.ssm.pojo.LineInfo">
        update line_info
        <set>
            <if test="lineName != null">
                line_name = #{lineName,jdbcType=VARCHAR},
            </if>
            <if test="streamUrl != null">
                stream_url = #{streamUrl,jdbcType=VARCHAR},
            </if>
            <if test="srcUrl != null">
                src_url = #{srcUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhang.ssm.pojo.LineInfo">
        UPDATE line_info
        SET line_name  = #{lineName,jdbcType=VARCHAR},
            stream_url = #{streamUrl,jdbcType=VARCHAR},
            src_url    = #{srcUrl,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>