<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        #player {
            margin: 10px;
        }

        .btn_e {
            text-align: center;
            width: 115px;
            height: 55px;
            background: #0099FF;
            color: #f2f2f2;
            margin-left: 10px;
            padding: 10px;
            font-size: 20px;
            font-family: 宋体, Arial;
            font-weight: bold;
            border-radius: 28px;
            border-width: 5px;

        }

    </style>
</head>
<body>

<div id="container" style="width:1600px">

    <div id="header">
        <h1 style="margin-bottom:0;width: 300px">多路视频监控操作台</h1>
    </div>

    <div id="menu" style="height:670px;width:900px;float:left;">

        <div>
            <!--<video id = "player" style="width: 980px;height: 585px;background-color: #1e1b29"   >-->
            <!--<source src="/video/sintel.mp4" type="video/mp4">-->
            <!--</video>-->
            <embed align="center" type="application/hwp-webvideo-plugin" width="880" height="585"
                   name="webVideoCtrl20180602115305" wndtype="1" playmode="1" colors="">
    </div>
        <div>
            <button class="btn_e" id="btn1" style="border-color: rgb(220, 220, 220);float:left "
                    onmouseover="this.style.borderColor='#f76b00'" onmouseout="this.style.borderColor='#dcdcdc'">播放
            </button>
            <button class="btn_e" id="btn2" style="border-color: rgb(220, 220, 220);float:left "
                    onmouseover="this.style.borderColor='#f76b00'" onmouseout="this.style.borderColor='#dcdcdc'">全屏播放
            </button>
            <button class="btn_e" id="btn3" style="border-color: rgb(220, 220, 220);float:left "
                    onmouseover="this.style.borderColor='#f76b00'" onmouseout="this.style.borderColor='#dcdcdc'">暂停
            </button>
            <button class="btn_e" id="btn4" style="border-color: rgb(220, 220, 220);float:left "
                    onmouseover="this.style.borderColor='#f76b00'" onmouseout="this.style.borderColor='#dcdcdc'">抓图
            </button>
            <button class="btn_e" id="btn5" style="border-color: rgb(220, 220, 220);float:left;"
                    onmouseover="this.style.borderColor='#f76b00'" onmouseout="this.style.borderColor='#dcdcdc'">录像
            </button>
            <button class="btn_e" id="btn6" style="border-color: rgb(220, 220, 220);float:left;"
                    onmouseover="this.style.borderColor='#f76b00'" onmouseout="this.style.borderColor='#dcdcdc'">复位
            </button>

            <select class="btn_e" id="btn7" style="border-color: rgb(220, 220, 220);"
                    onmouseover="this.style.borderColor='#f76b00'" onmouseout="this.style.borderColor='#dcdcdc'">
                <option value="0">请选择</option>
                <option value="线路1">线路1</option>
                <option value="线路2">线路2</option>
                <option value="线路3">线路3</option>
                <option value="线路4">线路4</option>
                <option value="线路5">线路5</option>
                <option value="线路6">线路6</option>
                <option value="线路7">线路7</option>
                <option value="线路8">线路8</option>

            </select>


        </div>

    </div>

    <div id="content" style="height:670px;width:700px;float:left;">


        <div style="float: left;width: 350px;height: 100%;background-color: blue">
            <div>
                <img src="/images/ab_images/1.jpg" style="height: 220px;width: 350px">
            </div>

            <div>
                <img src="/images/ab_images/2.jpg" style="height: 220px;width: 350px">
            </div>
            <div>
                <img src="/images/ab_images/3.jpg" style="height: 220px;width: 350px">
            </div>
        </div>
        <div style="width: 350px;height: 100%;float:left;background-color:hotpink">
            <div>
                <fieldset class="localconfig">
                    <legend>本地配置</legend>
                    <table cellpadding="0" cellspacing="3" border="0">
                        <tr>
                            <td class="tt">播放性能</td>
                            <td>
                                <select id="netsPreach" name="netsPreach" class="sel">
                                    <option value="0">最短延时</option>
                                    <option value="1">实时性好</option>
                                    <option value="2">均衡</option>
                                    <option value="3">流畅性好</option>
                                </select>
                            </td>
                            <td class="tt">图像尺寸</td>
                            <td>
                                <select id="wndSize" name="wndSize" class="sel">
                                    <option value="0">充满</option>
                                    <option value="1">4:3</option>
                                    <option value="2">16:9</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="tt">录像打包大小</td>
                            <td>
                                <select id="packSize" name="packSize" class="sel">
                                    <option value="0">256M</option>
                                    <option value="1">512M</option>
                                    <option value="2">1G</option>
                                </select>
                            </td>
                            <td class="tt">抓图文件格式</td>
                            <td>
                                <select id="captureFileFormat" name="captureFileFormat" class="sel">
                                    <option value="0">JPEG</option>
                                    <option value="1">BMP</option>
                                    <option value="2">PNG</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="tt">录像保存路径</td>
                            <td colspan="3"><input id="recordPath" type="text" class="txt"/>&nbsp;<input type="button"
                                                                                                         class="btn"
                                                                                                         value="浏览"
                                                                                                         onclick="clickOpenFileDlg('recordPath', 0);"/>
                            </td>
                        </tr>

                        <tr>
                            <td class="tt">抓图保存路径</td>
                            <td colspan="3"><input id="previewPicPath" type="text" class="txt"/>&nbsp;<input
                                    type="button" class="btn" value="浏览"
                                    onclick="clickOpenFileDlg('previewPicPath', 0);"/></td>
                        </tr>

                        <tr>
                            <input type="button" class="btn" value="设置" onclick="clickSetLocalCfg();"/></td>
                        </tr>
                    </table>
                </fieldset>
                </div>
            <div>
                <fieldset class="operate">
                    <legend>操作信息</legend>
                    <div id="opinfo" class="opinfo" style="height: 150px"></div>
                </fieldset>
                </div>
            </div>

    </div>

</div>
</body>
<script src="/js/jquery.js"></script>
</html>