<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>监控信息</title>
    <link rel="stylesheet" href=" /css/pintuer.css">
    <link rel="stylesheet" href=" /css/admin.css">
    <script src=" /js/jquery.js"></script>
    <script src=" /js/pintuer.js"></script>
    <script src="/js/chart/highcharts.js"></script>
    <script src="/js/chart/modules/series-label.js"></script>
    <script src="/js/chart/modules/exporting.js"></script>
    <script src="/js/chart/modules/export-data.js"></script>

    <style type="text/css">
        #container {
            /*width: 1000px;*/
            height: 600px;
            margin: 0 auto
        }
    </style>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"> 当前时间:
        <div id="tStamp">###</div>
    </div>
    <div class="body-content">

        <div id="container" class="lineChart"></div>
        <div class="message1"></div>
        <script src=" /js/my.js"></script>
        <script type="text/javascript">

            $(function () {
                setInterval(function () {
                    getFormatDate("tStamp");
                }, 1000); //每隔一秒执行一次
            });

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            function activeLastPointToolip(serie, chart) {
                var points = serie.points;
                chart.tooltip.refresh(points[points.length - 1]);
            }

            function updateDataByAdd(serie, chart) {
                var xdate, yval;
                activeLastPointToolip(serie, chart);
                setInterval(function () {

                    $.ajax({
                        type: "POST",
                        url: "/monitor/getData",
                        cache: false,
                        contentType: false,    //不可缺
                        processData: false,    //不可缺;
                        dataType: "json",
                        success: function (suc) {
                            if (suc.code === 0) {
                                var data = suc.data;
                                xdate = data[serie.name].datetime;
                                yval = data[serie.name].val;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Network error, please check the network and try again" + XMLHttpRequest + textStatus + errorThrown);
                            return false;
                        }
                    });
                    serie.addPoint([xdate, yval], true, true);
                    activeLastPointToolip(serie, chart);
                }, 1000);
            }

            Highcharts.chart('container', {
                chart: {
                    type: 'spline',
                    marginRight: 10,
                    events: {
                        load: function () {
                            var chart = this;
                            var series = this.series;
                            $.ajax({
                                type: "POST",
                                url: "/monitor/getScope",
                                contentType: false,    //不可缺
                                processData: false,    //不可缺;
                                dataType: "json",
                                success: function (suc) {
                                    if (suc.code === 0) {
                                        var j = 0;
                                        for (var key in suc.data) {
                                            series[j].name = key;
                                            updateDataByAdd(series[j], chart);
                                            j = j + 1;
                                        }
                                        for (; j < series.length; j++) {
                                            series[j].hide();
                                        }
                                    } else {
                                        alert(suc.msg);
                                        return false;
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    alert("Network error, please check the network and try again" + XMLHttpRequest + textStatus + errorThrown);
                                    return false;
                                }
                            });
                            // updateDataByAdd(serie, chart);
                        }
                    }
                },
                title: {
                    text: 'Multi-Channel Video Monitoring Real-Time Chart',
                    style: {
                        color: "#5F5F5F",
                        fontFamily: "SimHei",
                        fontSize: "24px",
                    }
                },
                xAxis: {
                    type: 'datetime',
                },
                yAxis: {
                    title: {
                        text: "侦测值"
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                visible: false,
                series: [
                    {
                        name: '',
                        data: (function () {
                            var data = [], time = (new Date()).getTime(), i;
                            for (i = -5; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: Math.random() * 100
                                });
                            }
                            return data;
                        }())
                    },
                    {
                        name: '',
                        data: (function () {
                            // 生成随机值
                            var data = [],
                                time = (new Date()).getTime(),
                                i;
                            for (i = -5; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: Math.random() * 100
                                });
                            }
                            return data;
                        }())
                    },
                    {
                        name: '',
                        data: (function () {
                            // 生成随机值
                            var data = [],
                                time = (new Date()).getTime(),
                                i;
                            for (i = -5; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: Math.random() * 100
                                });
                            }
                            return data;
                        }())
                    },
                    {
                        name: '',
                        data: (function () {
                            // 生成随机值
                            var data = [],
                                time = (new Date()).getTime(),
                                i;
                            for (i = -5; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: Math.random() * 100
                                });
                            }
                            return data;
                        }())
                    }

                ]
            });


        </script>
    </div>
</div>
</body>
</html>