<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>网站信息</title>
    <link rel="stylesheet" href=" /css/pintuer.css">
    <link rel="stylesheet" href=" /css/admin.css">
    <script src=" /js/jquery.js"></script>
    <script src=" /js/pintuer.js"></script>
    <script src="/js/chart/highcharts.js"></script>
    <script src="/js/chart/modules/series-label.js"></script>
    <script src="/js/chart/modules/exporting.js"></script>
    <script src="/js/chart/modules/export-data.js"></script>

    <style type="text/css">
        #container {
            /*width: 1000px;*/
            height: 600px;
            margin: 0 auto
        }
    </style>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"> 当前时间:
        <div id="tStamp">###</div>
    </div>
    <div class="body-content">

        <div id="container" class="lineChart"></div>
        <div class="message1"></div>
        <script src=" /js/my.js"></script>
        <script type="text/javascript">
            //获取一定格式的当前时间 xxxx年xx月xx日 12:00:00

            $(function () {
                setInterval(function () {
                    getFormatDate("tStamp");
                }, 1000); //每隔一秒执行一次
            });
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            function activeLastPointToolip(chart) {
                var points = chart.series[0].points;
                chart.tooltip.refresh(points[points.length - 1]);
            }

            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'spline',
                    marginRight: 10,
                    events: {
                        load: function () {
                            var series = this.series[0],
                                chart = this;
                            activeLastPointToolip(chart);
                            setInterval(function () {
                                var x = (new Date()).getTime(), // 当前时间
                                    y = Math.random();          // 随机值
                                series.addPoint([x, y], true, true);
                                activeLastPointToolip(chart);
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: 'Multi-channel video monitoring real-time value chart'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: '随机数据',
                    data: (function () {
                        // 生成随机值
                        var data = [],
                            time = (new Date()).getTime(),
                            i;
                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i * 1000,
                                y: Math.random()
                            });
                        }
                        return data;
                    }())
                }]
            });


        </script>
    </div>
</div>
</body>
</html>