<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href=" /cctv/css/pintuer.css">
    <link rel="stylesheet" href=" /cctv/css/admin.css">
    <script src=" /cctv/js/jquery.js"></script>
    <script src=" /cctv/js/pintuer.js"></script>

</head>
<body onload="showUserInfo()">
<script src="/cctv/js/my.js"></script>
<script type="text/javascript">
    var userdata;
    var oldHeadUrl = "";

    function showUserInfo() {
        $.ajax({
            type: "GET",
            url: "/user/getUserInfo",
            contentType: false,    //不可缺
            processData: false,    //不可缺;
            dataType: "json",
            success: function (suc) {
                if (suc.code === 0) {
                    userdata = suc.data;
                    document.getElementById("userName").innerText = suc.data.userName;
                    $("#userWorkgroup").val(suc.data.userWorkgroup);
                    $("#userPosition").val(suc.data.userPosition);
                    document.getElementById("userAge").innerText = suc.data.userAge;
                    $("#userEmail").val(suc.data.userEmail);
                    $("#userPhone").val(suc.data.userPhone);
                    $("#headImgU").attr("src", suc.data.userHeadurl);
                    oldHeadUrl = suc.data.userHeadurl;
                    console.info(oldHeadUrl);
                } else {
                    alert(suc.msg);
                    return false;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Network error, please check the network and try again" + XMLHttpRequest + textStatus + errorThrown);
                return false;
            }
        });
    }

    function uploadHead() {
        var inputObj = document.createElement('input');
        inputObj.setAttribute('id', 'head');
        inputObj.setAttribute('type', 'file');
        inputObj.setAttribute("style", 'visibility:hidden');
        inputObj.setAttribute("onchange", "uploadImg()");
        document.body.appendChild(inputObj);

        inputObj.click();
    }

    function uploadImg() {
        var data = new FormData();
        data.append("head", $("#head")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/user/uploadUserHead",
            data: data,
            contentType: false,    //不可缺
            processData: false,    //不可缺;
            dataType: "json",
            success: function (suc) {
                if (suc.code === 0) {
                    $("#headImgU").attr("src", suc.msg);
                } else {
                    alert(suc.msg);
                    return false;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Network error, please check the network and try again" + XMLHttpRequest + textStatus + errorThrown);
                return false;
            }
        });
    }

    function checkChanged() {
        var var2 = $("#userWorkgroup").val();
        var var3 = $("#userPosition").val();
        var var4 = $("#userEmail").val();
        var var5 = $("#userPhone").val();
        if (oldHeadUrl !== $("#headImgU").attr('src') || var2 !== userdata.userWorkgroup || var3 !== userdata.userPosition || var4 !== userdata.userEmail || var5 !== userdata.userPhone) {
            return true;
        }
        return false;

    }

    function updateUserInfo() {
        if (!checkChanged()) {
            alert(" Please modify an item first");
            return;
        }
        var res = window.confirm('确认修改？');
        if (!res) {
            return;
        }
        userdata.userHeadurl = $("#headImgU").attr('src');
        userdata.userWorkgroup = $("#userWorkgroup").val();
        userdata.userPosition = $("#userPosition").val();
        userdata.userEmail = $("#userEmail").val();
        userdata.userPhone = $("#userPhone").val();
        $.ajax({
            type: "POST",
            url: "/user/updateUserInfo",
            data: JSON.stringify(userdata),
            cache: false,
            contentType: "application/json",    //不可缺
            processData: false,    //不可缺
            dataType: "json",
            success: function (suc) {
                if (suc.code === 0) {
                    return false;
                } else {
                    alert(suc.msg);
                    return false;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Network error, please check the network and try again" + XMLHttpRequest + textStatus + errorThrown);
                return false;
            }
        });

    }
</script>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"/>增加内容</strong></div>
    <div class="body-content">
        <form id="uInfoUpdate" method="post" class="form-x" action="">

            <div class="form-group">

                <div class="label">
                    <label><img id="headImgU" class="radius-circle " style="margin-left:10px" height="50" alt=""
                                src="/cctv/images/loading.gif"/></label>
                </div>
                <div class="field">
                    <input type="button" class="button bg-blue margin-left" name="file" value="+ 浏览上传"
                           style="float:left;" onclick="uploadHead()">
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>用户名：</label>
                </div>
                <div class="field">
                    <div class="tips"><a id="userName"></a></div>
                </div>
            </div>

            <div class="form-group">

                <div class="label">
                    <label>工作组：</label>
                </div>
                <div class="field">

                    <div class="tips"><input class="input" id="userWorkgroup" style=" height:30px;" size="50"></input>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
            <div class="form-group">

                <div class="label">
                    <label>职位：</label>
                </div>
                <div class="field">
                    <input class="input" id="userPosition" style=" height:30px;" size="50"></input>
                    <div class="tips"></div>
                </div>

            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="label">
                    <label>年龄：</label>
                </div>
                <div class="field">
                    <div class="tips"><a id="userAge"></a></div>
                </div>
            </div>
            <div class="form-group">

                <div class="label">
                    <label>Email：</label>
                </div>
                <div class="field">
                    <input class="input" id="userEmail" style=" height:30px;" size="50"></input>
                    <div class="tips"></div>
                </div>

            </div>
            <div class="form-group">
                <div class="label">
                    <label>联系电话：</label>
                </div>
                <div class="field">
                    <input class="input" id="userPhone" style=" height:30px;" size="50"></input>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label/>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="button" onclick="updateUserInfo()">更新
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>